.ag-cv {
}

.ag-header {
}

.ag-card {
    background-image: url(background.jpg);
    margin-bottom: 2em;
}

.ag-name {
    padding: 30px;
}

.ag-icons a {
    padding-left: 1em;
    padding-right: 1em;
    color: #000;
}

.ag-icons a:hover {
    color: #d63384;
}

.ag-icons {
    margin-bottom: 3em;
}

.ag-btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

.vertical-center {
    display: flex;
    align-items: center;
    max-height: 80%;
}

.tags {
    margin-top: 1em;
    margin-bottom: 1em;
}

 .tags span {
    border: 1px solid #d63384;
    color: #d63384;
    padding: 5px 8px;
    display: inline-block;
    margin: 2px;
    border-radius: 8px;
    font-size: 0.8rem;
}

#my-photo {
}

.ag-portrait {
    padding: 30px;
}

.ag-data {
    
}

.ag-resume h2 {
    color: #d63384;
}

.ag-resume-left {
    
}

.ag-resume-right {
    
}

.ag-footer {
    padding-top: 1em;
    background-image: url(background.jpg); 
    padding-bottom: 1em;
}

.img-thumbnail {

    border: 1px solid #141619;
}